# make sure to install yaml package using install.packages("yaml") if not installed already

sandbox_dir  : "/Users/laurenbolotin/Lauren/NextGenSandboxHub"
input_dir     : "/Users/laurenbolotin/Lauren/benchmark/reservoir_test/input"  # user-specified
output_dir    : "/Users/laurenbolotin/Lauren/benchmark/reservoir_test/output" # user-specified


########################################################################
# Subset a basin using hydrofabric; see src/R/main.R for further details
subsetting :
  hf_version               : "2.2" # Only enter version number, e.g. "2.2" or "2.1.1"
  # Ensure that this gpkg matches the hf_version specified above:
  hf_gpkg_path             : "/Users/laurenbolotin/Lauren/hydrofabric/data/v2.2/conus_nextgen.gpkg"  #for example, "<paht_to>/conus_nextgen.gpkg" # input
  dem_output_dir           : "/Users/laurenbolotin/Lauren/benchmark/reservoir_test/dem" # create `dem` directory yourself # output
  # Path to NLCD data for vegetation type (IVGTYP) calculation
  nlcd_data_path           : "/Users/laurenbolotin/Lauren/benchmark/benchmark_final/Annual_NLCD_LndCov_2021_CU_C1V1/Annual_NLCD_LndCov_2021_CU_C1V1.tif"
  calculate_vegetation     : TRUE  # Set to FALSE to skip vegetation calculation
  # compute_divide_attributes: TRUE

  # Note: only gage_ids that fall within the domain of the hydrofabric listed above will be subsetted
  options :
    use_gage_id :
      use_gage_id  : FALSE
      gage_ids     : ["02142000", "03076600", "08049700", "14138800", "14138870", "14138900", "14139800", "14161500"] #for instance, ["01105000"]
    use_gage_file :
      use_gage_file : FALSE
      gage_file     : "/Users/laurenbolotin/Lauren/benchmark/benchmark2.0_final/rfc_ids_clean_conus.csv"
      column_name   : "USGS.ID"
    use_gpkg :
      use_gpkg  : TRUE
      gpkg_dir  : "/Users/laurenbolotin/Lauren/benchmark/reservoir_test/input"
      pattern   :  "gage_"

########################################################################
#forcing data is stored under <input_dir>/gage_id/data/forcing
forcings : 
  forcing_format     : ".nc"
  forcing_time       : {"start_time" : "2015-10-01 00:00:00", "end_time" : "2024-09-30 23:00:00"}
  domain             : "conus"        # options = ["conus", "HI", "PR", 'AK']
  forcing_venv_dir   : "/Users/laurenbolotin/anaconda3/envs/ngsh_forcing" # path to virtual environment for forcing data processing
########################################################################
formulation :
  ngen_dir           : "<path_to_ngen_dir>" # for instance, /Users/ajkhattak/codes/ngen_repo/ngen"
  models             : "NOM, CFE, T-route"

  clean              : ['existing']
  verbosity          : 0

  np_per_basin       : 4         # number of processors for basin partitioning

simulation :
  task_type : "<pick_option>" # calibvalid, calibration, validation, restart, control
  gage_ids    :  "01105000"   # gage id, list of ids; if Null, basin_passed.csv file is loaded
  sim_name_suffix  :  "pet_cfe" # user specified name; the directory wil be, e.g., 01105000_pet_cfe
  calibration_time : {"start_time" : "2016-10-01 00:00:00", "end_time" : "2021-09-30 23:00:00"}
  calib_eval_time  : {"start_time" : "2017-10-01 00:00:00", "end_time" : "2021-09-30 23:00:00"}
  validation_time  : {"start_time" : "2010-11-22 14:00:00", "end_time" : "2010-12-23 02:00:00"}
  valid_eval_time  : {"start_time" : "2010-11-23 14:00:00", "end_time" : "2010-12-23 02:00:00"}
  restart_dir      : "<path_to_restart_dir>/{*}/202410042024_ngen_qaiklwj0_worker/"
  
